.btn {
  display: inline-block;
  padding-block: 1rem;
  padding-inline: 2rem;
  width: 100%;
  text-align: end;
}

.btn-primary {
  background-color: var(--text-color);
  color: var(--bg-color);
}

.btn-primary:hover {
  background-color: var(---bg-color);
  color: var(--text-color);
}

.btn-secondary {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.btn-secondary:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
}

@media screen and (min-width: 768px) {
  .btn {
    text-align: center;
    width: auto;
  }
}

.btn-skip-nav {
  transition: transform 0.3s ease-in;
  position: absolute;
  z-index: 2;
  transform: translateY(-200%);
  inset-block-start: 2rem;
  inset-inline-start: 2rem;
}

.btn-skip-nav:focus {
  transform: translateY(0);
}
