.btn {
  display: inline-block;
  padding-block: 1rem;
  padding-inline: 2rem;
  width: 100%;
  text-align: end;
}

.btn-primary {
  background-color: var(--text-color);
  color: var(--bg-color);
}

.btn-primary:hover {
  background-color: var(---bg-color);
  color: var(--text-color);
}

.btn-secondary {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.btn-secondary:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
}

@media screen and (min-width: 768px) {
  .btn {
    text-align: center;
    width: auto;
  }
}
