:root {
  /* Font Sizes */
  --global-font-size: 62.5%;
  --font-size-xxl: 8rem;
  --font-size-xl: 7rem;
  --font-size-lg: 6rem;
  --font-size-md: 2.8rem;
  --font-size-sm: 2rem;
  --font-size-xs: 1.8rem;
  --font-size-xxs: 1.4rem;

  /* Font Weight */
  --font-weight-regular: 400;
  --font-weight-ultrabold: 800;

  /* Colors */
  --color-main-black: #151515;
  --color-main-white: #FFFFFF;
  --color-main-grey: #F0F0F0;
};
